<div class="panel panel-default">
    <div class="panel-heading bold">
        <h1 class="panel-title bold"><span class="glyphicon glyphicon-info-sign"></span> <b> What is Kon'tract token?</b></h1>
    </div>

    <div class="panel-body">
        <h1 class="panel-title"><b>Definition</b></h1>
        <br>
        <p>Kon'tract token is a decentralized application (Dapp) token made for the purpose of selling in an ICO to fund the Kon'tract platfrom's development and also for fueling operations of the Kon'tract platfrom.
        </p>
        <br>
        <h1 class="panel-title"><b>Where Kon'tract token is deployed? </b></h1>
        <br>
        <p>Kon'tract token is deployed on the Ethereum blockchain.</p>
        <br>
        <h1 class="panel-title"><b>Why buying Kon'tract coins?</b></h1>
        <br>
        <p>
            Users willing to use the Kon'tract platfrom have to buy Kon'tract coins since it's the only cryptocurrency used on the platfrom.

        </p>
    </div>
</div>