<!-- Text Panel -->
<div class="panel panel-default">
    <div class="panel-heading bold">
        <h1 class="panel-title bold"><span class="glyphicon glyphicon-info-sign"></span> <b> What is a Smart Contracts?</b></h1>
    </div>

    <div class="panel-body">
        <h1 class="panel-title">Definition</h1>
        <br>
        <p>A smart contract is a computer protocol intended to digitally facilitate, verify, or enforce the negotiation or performance of a contract. Smart contracts allow the performance of credible transactions without third parties. These transactions
            are trackable and irreversible. <a class="q ruhjFe NJLBac fl" href="https://en.wikipedia.org/wiki/Smart_contract" data-ved="2ahUKEwih0aS1xazhAhWny4UKHcfzA_QQmhMwH3oECBAQAg" ping="/url?sa=t&amp;source=web&amp;rct=j&amp;url=https://en.wikipedia.org/wiki/Smart_contract&amp;ved=2ahUKEwih0aS1xazhAhWny4UKHcfzA_QQmhMwH3oECBAQAg">Wikipedia</a>            </p>
        <br>
        <h3 class="panel-title">A Smart Contract Example
        </h3>
        <h5><br>
            <p>Here is an example for a basic smart contract written in Solidity that can be deployed on the Ethereum blockchain.</p>
            Contracts can be encoded on any blockchain, but Ethereum is mostly used since it gives unlimited processing capability.
        </h5>
        <br>


        <iframe src="https://ethfiddle.com/services/iframesnippet/2Rx8cQdEx3" scrolling="no" frameborder="0" height="300" width="250" allowtransparency="true" class="ef_embed_iframe" style="width: 100%; overflow: hidden;"></iframe>


    </div>
    <div class="panel-heading bold">
        <h1 class="panel-title bold"><span class="glyphicon glyphicon-info-sign"></span> <b> What is a Smart Contracts?</b></h1>
    </div>

    <div class="panel-body">
        <h1 class="panel-title">Definition</h1>
        <br>
        <p>A smart contract is a computer protocol intended to digitally facilitate, verify, or enforce the negotiation or performance of a contract. Smart contracts allow the performance of credible transactions without third parties. These transactions
            are trackable and irreversible. <a class="q ruhjFe NJLBac fl" href="https://en.wikipedia.org/wiki/Smart_contract" data-ved="2ahUKEwih0aS1xazhAhWny4UKHcfzA_QQmhMwH3oECBAQAg" ping="/url?sa=t&amp;source=web&amp;rct=j&amp;url=https://en.wikipedia.org/wiki/Smart_contract&amp;ved=2ahUKEwih0aS1xazhAhWny4UKHcfzA_QQmhMwH3oECBAQAg">Wikipedia</a>            </p>
        <br>
        <h3 class="panel-title">A Smart Contract Example
        </h3>
        <h5><br>
            <p>Here is an example for a basic smart contract written in Solidity that can be deployed on the Ethereum blockchain.</p>
            Contracts can be encoded on any blockchain, but Ethereum is mostly used since it gives unlimited processing capability.
        </h5>
        <br>


        <iframe src="https://ethfiddle.com/services/iframesnippet/2Rx8cQdEx3" scrolling="no" frameborder="0" height="300" width="250" allowtransparency="true" class="ef_embed_iframe" style="width: 100%; overflow: hidden;"></iframe>


    </div>
    <div class="panel-heading bold">
        <h1 class="panel-title bold"><span class="glyphicon glyphicon-info-sign"></span> <b> What is a Smart Contracts?</b></h1>
    </div>

    <div class="panel-body">
        <h1 class="panel-title">Definition</h1>
        <br>
        <p>A smart contract is a computer protocol intended to digitally facilitate, verify, or enforce the negotiation or performance of a contract. Smart contracts allow the performance of credible transactions without third parties. These transactions
            are trackable and irreversible. <a class="q ruhjFe NJLBac fl" href="https://en.wikipedia.org/wiki/Smart_contract" data-ved="2ahUKEwih0aS1xazhAhWny4UKHcfzA_QQmhMwH3oECBAQAg" ping="/url?sa=t&amp;source=web&amp;rct=j&amp;url=https://en.wikipedia.org/wiki/Smart_contract&amp;ved=2ahUKEwih0aS1xazhAhWny4UKHcfzA_QQmhMwH3oECBAQAg">Wikipedia</a>            </p>
        <br>
        <h3 class="panel-title">A Smart Contract Example
        </h3>
        <h5><br>
            <p>Here is an example for a basic smart contract written in Solidity that can be deployed on the Ethereum blockchain.</p>
            Contracts can be encoded on any blockchain, but Ethereum is mostly used since it gives unlimited processing capability.
        </h5>
        <br>


        <iframe src="https://ethfiddle.com/services/iframesnippet/2Rx8cQdEx3" scrolling="no" frameborder="0" height="300" width="250" allowtransparency="true" class="ef_embed_iframe" style="width: 100%; overflow: hidden;"></iframe>


    </div>
    <div class="panel-heading bold">
        <h1 class="panel-title bold"><span class="glyphicon glyphicon-info-sign"></span> <b> What is a Smart Contracts?</b></h1>
    </div>

    <div class="panel-body">
        <h1 class="panel-title">Definition</h1>
        <br>
        <p>A smart contract is a computer protocol intended to digitally facilitate, verify, or enforce the negotiation or performance of a contract. Smart contracts allow the performance of credible transactions without third parties. These transactions
            are trackable and irreversible. <a class="q ruhjFe NJLBac fl" href="https://en.wikipedia.org/wiki/Smart_contract" data-ved="2ahUKEwih0aS1xazhAhWny4UKHcfzA_QQmhMwH3oECBAQAg" ping="/url?sa=t&amp;source=web&amp;rct=j&amp;url=https://en.wikipedia.org/wiki/Smart_contract&amp;ved=2ahUKEwih0aS1xazhAhWny4UKHcfzA_QQmhMwH3oECBAQAg">Wikipedia</a>            </p>
        <br>
        <h3 class="panel-title">A Smart Contract Example
        </h3>
        <h5><br>
            <p>Here is an example for a basic smart contract written in Solidity that can be deployed on the Ethereum blockchain.</p>
            Contracts can be encoded on any blockchain, but Ethereum is mostly used since it gives unlimited processing capability.
        </h5>
        <br>


        <iframe src="https://ethfiddle.com/services/iframesnippet/2Rx8cQdEx3" scrolling="no" frameborder="0" height="300" width="250" allowtransparency="true" class="ef_embed_iframe" style="width: 100%; overflow: hidden;"></iframe>


    </div>
</div>