<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-dashboard">
                
              </span> <b> Account Information</b>
        </h3>
    </div>
    <div class="panel-body">
        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                0x96B80708BA5cb9002DC62CE99b2c252521D655EF
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                500.01 Ether
            </div>
        </div>

    </div>


</div>