<div class="panel panel-default">
    <div class="panel-heading">

        <h1 class="panel-title bold">
            <span class="glyphicon glyphicon-circle-arrow-right"></span> <b> Transfer</b></h1>
    </div>

    <!-- <div class="panel-body">
        <form class="container" [formGroup]="transferForm">
            <div class="form-group">
                <label for="transferFrom">From Account ({{balance}})</label>
                <input tabindex="1" type="text" class="form-control" formControlName="transferFrom">
            </div>
            <div class="form-group">
                <label for="transferTo">To  Account</label>
                <input tabindex="2" type="text" class="form-control" formControlName="transferTo">
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input tabindex="3" type="amount" class="form-control" name="amount" formControlName="amount">

            </div>
            <div class="btn-group" role="group" class="col-12">
                <div style="float: right;">
                    <button tabindex="4" type=" submit" class="btn btn-danger " (click)="transferEther($event) ">Transfer</button>
                </div>
                <div style="float: left; " class="col-12">
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>

            </div>




        </form>
    </div> -->
</div>