<div (click)='onButtonGroupClick($event)'>
    <div class="panel panel-default" id="topheader">
        <div class="panel-heading">
            <h1 class="panel-title"><span class="glyphicon glyphicon-certificate"></span><b> Kon'Tract Platform</b>
            </h1>
        </div>
        <div class="list-group">
            <a routerLink="/about-token" class="list-group-item"> What is Kon'tract Platform?</a>
            <a routerLink="/smart-contract" class="list-group-item"> What is Smart Contract?</a>
            <a routerLink="/platform-services" class="list-group-item">Kon'tract Platform Services</a>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title btn-group"><span class="glyphicon glyphicon-transfer"></span><b> Kon'Tract Token</b> </h1>
        </div>
        <div class="list-group">
            <a routerLink="/about-token" class="list-group-item"> What is Kon'tract token?</a>
            <a routerLink="/about-token" class="list-group-item">Buy Kon'Tract</a>
            <a href="#" class="list-group-item">Sell Kon'Tract</a>
            <a href="#" class="list-group-item">Check Balance</a>
            <a routerLink="/transfer" class="list-group-item">Transfer</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title"><span class="glyphicon glyphicon-step-forward"></span> <b> Escrow Kon'tracts</b></h1>
        </div>
        <div class="list-group">
            <a routerLink="/seller" class="list-group-item">Seller Dashboard</a>
            <a href="#" class="list-group-item">Buyer Dashboard</a>
            <a href="#" class="list-group-item">Escrow Dashboard</a>
        </div>
    </div>
</div>